<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_debgr4jk.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Internal Server Error</h1>
        </div>
    </div>
    <p th:text="${exception}"></p>

    <script src="/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>